extends ../layout

block content

  h1= theTeam.name
  p
  p=theTeam.city
  p=theTeam.wins
  p=theTeam.losses
  p=theTeam.yearest

  a(href='/teams/' + theTeam._id + '/edit') Edit Team
  p
  form(action='/teams/' + theTeam._id + '/delete' method='post')
    input(type='submit' value='Delete Team')
  a(href='/teams') List of Teams